/* Styles/Formulario.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    
    background-color:#ebebeb;
    border-radius: 8px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.189);
}

.form-container{
    padding: 20px;
}

.titte{
        
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
        color: #444444;
        width: 100%;
        padding: 15px;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 10px;
        text-align: center;

      
}

h2 {
    font-size: 24px;
    padding: 10px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color:#1d4ed8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
