.container-tabla{
    text-align: center;
    padding: 10px  ;
}
.tabla-posiciones {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
    
  }
  
  .tabla-posiciones th, .tabla-posiciones td {
    padding: 12px;
    text-align: center;
  }
  
  .tabla-posiciones th {
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
  }
  
  .tabla-posiciones tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tabla-posiciones tbody tr:hover {
    background-color: #ddd;
  }
  
  .tabla-posiciones tbody td:first-child {
    text-align: left;
  }
  
  .tabla-posiciones tfoot td {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }
  